html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #40E5BE;
  background-color: #202020;

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    height: auto;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
