

.layout {
  font-weight: 900;
  font-family: "Nunito", sans-serif;
   font-size: 25px;
    line-height: 34px;
  background-color: #202020;

  h1 {
    font-weight: 900;
      font-size: 25px;
      line-height: 34px;
      color: #40E5BE;
  }
}